{% extends 'dashboard/base.html' %}

{% block title %}AVAVA | Heslo{% endblock %}

{% block content %}
<h3>Vygenerovat heslo</h3>
Pokud jste se právě registrovali, bude nutné, abyste si nechali nastavit nové
heslo pro váš účet na serveru AVAVA. Protože vygenerované heslo bude prakticky
nezapamatovatelné, počítáme s tím, že si ho budete chtít změnit. <a
    href="/doc/ssh.md#zm-na-hesla">Náš návod na změnu hesla</a> slouží právě
k tomuto účelu.
<br>Pokud by se vám náhodou stalo, že zapomenete své heslo, můžete si ho zde
znovu vygenerovat.
<form action="." method="post">
  {% include 'form_snippet.html' %}
  <input type="submit" class="btn waves-effect waves-light" value="Vygenerovat nové heslo">
</form>
{% endblock %}
