{% extends 'dashboard/base.html' %}

{% block title %}AVAVA | Přihlášení{% endblock %}

{% block content %}
<h3>Přístup povolen jen žákům Gymnázia Arabská.</h3>
Pro přihlášení použijte prosím váš e-mail ve formátu
<i>jmeno.prijmeni@gyarab.cz</i>.
{% endblock %}
