{% extends 'dashboard/base.html' %}

{% block title %}AVAVA | Heslo{% endblock %}

{% block content %}
<h3>Heslo vygenerováno.</h3>
Vaše nové heslo pro účet <b>{{ username }}</b> je <b>{{ password }}</b>.
Nyní se můžete za použití těchto údajů přihlásit na SVS AVAVA pomocí SSH.
Pro více informací si přečtěte <a href="/doc/README.md">Dokumentaci</a>.
{% endblock %}
