@import 'components/color';

/*** Colors ***/
$primary-color: color("amber", "base"); /*color("materialize-red", "lighten-2");*/
$primary-color-light: lighten($primary-color, 15%);
$primary-color-dark: darken($primary-color, 15%);

$secondary-color: color("indigo", "lighten-1");
$success-color: color("green", "base");
$error-color: color("red", "base");
$link-color: color("indigo", "darken-1");

/*** Badges ***/
$badge-bg-color: $secondary-color;

/*** Buttons ***/
$button-bg-color-disabled: #DFDFDF;
$button-color: $secondary-color;
$button-color-disabled: #9F9F9F;
$button-color-flat: #343434;
$button-color-raised: #fff;
$button-floating-size: 37px;
$button-height: 36px;
$button-font-size-shared: 1.3rem;
$button-large-icon-font-size: 1.6rem;
$button-line-height: 36px;

/*** Cards ***/
$card-padding: 20px;
$card-bg-color: #fff;
$card-link-color: color("orange", "accent-2");
$card-link-color-light: lighten($card-link-color, 20%);

/*** Collapsible ***/
$collapsible-height: 3rem;
$collapsible-header-color: #fff;
$collapsible-border-color: #ddd;

/*** Chips ***/
$chip-bg-color: #e4e4e4;

/*** Date Picker ***/
$datepicker-weekday-bg: darken($secondary_color, 7%);
$datepicker-date-bg: $secondary_color;
$datepicker-year: rgba(255, 255, 255, .4);
$datepicker-focus: rgba(0,0,0, .05);
$datepicker-selected: $secondary-color;
$datepicker-selected-outfocus: desaturate(lighten($secondary-color, 35%), 15%);

/*** Dropdown ***/
$dropdown-bg-color: #fff;
$dropdown-hover-bg-color: #eee;
$dropdown-color: $secondary-color;
$dropdown-item-height: 50px;

/*** Fonts ***/
$roboto-font-path: "../font/roboto/";
$icons-font-path: "../font/material-design-icons/";

/*** Forms ***/
// Text Inputs + Textarea
$input-border-color: color("grey", "base");
$input-bg-color: #fff;
$input-error-color: $error-color;
$input-success-color: $success-color;
$input-focus-color: $secondary-color;
$label-font-size: .8rem;
$input-disabled-color: rgba(0,0,0, .26);
$input-disabled-solid-color: #BDBDBD;

// Radio Buttons
$radio-fill-color: $secondary-color;
$radio-empty-color: #5a5a5a;

// Switches
$switch-bg-color: $secondary-color;
$switch-checked-lever-bg: desaturate(lighten($secondary-color, 25%), 25%);
$switch-unchecked-bg: #F1F1F1;
$switch-unchecked-lever-bg: #818181;


/*** Global ***/
// Media Query Ranges
$small-screen-up: 601px;
$medium-screen-up: 993px;
$large-screen-up: 1201px;
$small-screen: 600px;
$medium-screen: 992px;
$large-screen: 1200px;

$medium-and-up: "only screen and (min-width : #{$small-screen-up})";
$large-and-up: "only screen and (min-width : #{$medium-screen-up})";
$small-and-down: "only screen and (max-width : #{$small-screen})";
$medium-and-down: "only screen and (max-width : #{$medium-screen})";
$medium-only: "only screen and (min-width : #{$small-screen-up}) and (max-width : #{$medium-screen})";

// Grid Variables
$num-cols: 12;
$gutter-width: 1.5rem;
$element-top-margin: $gutter-width/3;
$element-bottom-margin: ($gutter-width*2)/3;

/*** Navbar ***/
$navbar-height: 64px;
$navbar-height-mobile: 56px;
$navbar-font-color: #fff;
$navbar-brand-font-size: 2.1rem;

/*** SideNav ***/
$sidenav-bg-color: #fff;
$sidenav-padding-right: 15px;
$sidenav-item-height: 64px;

/*** Photo Slider ***/
$slider-bg-color: color('grey', 'base');
$slider-bg-color-light: color('grey', 'lighten-2');
$slider-indicator-color: color('green', 'base');

/*** Spinners | Loaders ***/
$spinner-default-color: $secondary-color;

/*** Tabs ***/
$tabs-underline-color: $primary-color-light;
$tabs-text-color: $primary-color;
$tabs-bg-color: #fff;

/*** Tables ***/
$table-border-color: #d0d0d0;
$table-striped-color: #f2f2f2;

/*** Toasts ***/
$toast-height: 48px;
$toast-color: #323232;
$toast-text-color: #fff;

/*** Typography ***/
$off-black: rgba(0, 0, 0, 0.87);
// Header Styles
$h1-fontsize: 4.2rem;
$h2-fontsize: 3.56rem;
$h3-fontsize: 2.92rem;
$h4-fontsize: 2.28rem;
$h5-fontsize: 1.64rem;
$h6-fontsize: 1rem;

// Footer
$footer-bg-color: $primary-color;

// Flowtext
$range : $large-screen - $small-screen;
$intervals: 20;
$interval-size: $range / $intervals;

/*** Collections ***/
$collection-border-color: #e0e0e0;
$collection-bg-color: #fff;
$collection-active-bg-color: $secondary-color;
$collection-active-color: lighten($secondary-color, 55%);
$collection-hover-bg-color: #ddd;
$collection-link-color: $secondary-color;

/* Progress Bar */
$progress-bar-color: $secondary-color;
