@import 'variables';
@import 'materialize';

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#header {
  @extend .indigo;

  b {
    font-weight: 400;
  }

  a {
    color: #fff !important;
  }
}

#header-content {
  @extend .light;
  padding-left: 64px;
  font-size: 2em;
}

#main {
  @extend .row;
  flex: 1 0 auto;
  display: flex;
  min-width: 800px;
  width: 100%;
  margin-bottom: 0;
}

#main form > * {
  display: block;
}

#main form > i.btn {
  margin-top: 2rem;
}

#main form .error {
    @extend .red;
    @extend .accent-1;
    @extend .section;
    @extend .z-depth-1;
    margin-bottom: 2rem;

    > div {
        @extend .container;
    }
}

#main form label {
    width: calc(100% - 1.5rem);
}

#main form input.invalid {
    margin-bottom: 2rem;
    background-color: black;
}

#main-content-wrapper {
  width: 100%;
}

#sidebar {
  @extend .indigo;
  padding: 0 !important;
  width: 256px;

  .menu-item {
    @extend .indigo;
    line-height: 1.5rem;
    padding: 10px 20px;
    margin: 0;
    color: white;
  }

  a.menu-item {
    @extend .indigo;
    @extend .darken-1;
    color: #fff !important;
    display: block;
    transition: .25s;
  }

  a.menu-item:not(.active):hover {
    @extend .lighten-1;
  }

  div.menu-item {
    @extend .light;
    line-height: 1.25rem;
  }

  .menu-section a.menu-item {
    padding-left: 2rem;
  }
}

#footer {
  @extend footer;
  @extend .page-footer;
  @extend .indigo;
  @extend .light;
  margin-top: 0;
  padding-top: 0;
  overflow: hidden;
  height: 50px;
  line-height: 50px;
  color: rgba(255, 255, 255, 0.8);
}

#footer-content {
}

a {
  @extend .amber-text;
}
