<!DOCTYPE html>
{% load staticfiles %}
{% load compress %}
{% load account %}
{% load socialaccount %}
{% if not user.is_anonymous %}
  {% get_social_accounts user as accounts %}
{% endif %}
<html lang="cs">
  <head>
    {# Stylesheet and so on #}
    <title>{% block title %}AVAVA{% endblock %}</title>
    {% compress css %}
      <!-- <link rel="stylesheet" type="text/x-scss" href="{% static 'sass/stylesheet.scss' %}"> -->
      <link rel="stylesheet" type="text/css" href="{% static 'css/stylesheet.css' %}">
    {% endcompress %}
  </head>
  <body>
    <nav id="header">
      <div class="nav-wrapper valign-wrapper">
        <div class="valign">
          <a href="{% url 'index' %}">
            <div id="header-content">
              Studentský Vývojový Server <b>AVAVA</b>
            </div>
          </a>
        </div>
      </div>
    </nav>
    <div id="main">
      <div id="sidebar" class="col">
        <a class="menu-item" href="{% url 'index' %}">
          Domů
        </a>
        <a class="menu-item" href="{% url 'doc' 'README.md' %}">
          Dokumentace
        </a>
        <div class="menu-section">
          <div class="menu-item">Účet</div>
          {% if accounts %}
            <a class="menu-item" href="{% url 'accounts-info' %}">
                Informace
            </a>
            <a class="menu-item" href="{% url 'accounts-generate-password' %}">
                Vygenerovat heslo
            </a>
            <form action="{% url 'account_logout' %}" method="post"
                id="form-logout">
              {% csrf_token %}
              <a class="menu-item" href="javascript:{}"
                  onclick="document.getElementById('form-logout').submit(); return false;">
                Odhlásit se
              </a>
            </form>
          {% else %}
            <a class="menu-item" href="{% provider_login_url "google" %}">
                Přihlásit se
            </a>
          {% endif %}
        </div>
      </div>
      <div id="main-content-wrapper" class="col">
        <div id="main-content" class="container section">
          {% block content %}{% endblock %}
        </div>
      </div>
    </div>
    <footer id="footer" class="page-footer">
      <div id="footer-content" class="container">
        <span class="right">
          <a href="https://gitlab.com/gyarab-2013/avava-doc/">
            Repozitáře projektu Studentský Vývojový Server AVAVA</a>
          jsou pod
          <a href="https://opensource.org/licenses/MIT">licencí MIT</a>.
        </span>
      </div>
    </footer>
    <!-- Import javascript -->
    <script type="text/javascript"
            src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    {% compress js %}
      <script type="text/javascript"
              src="{% static 'js/materialize/bin/materialize.js' %}"></script>
      <script type="text/javascript"
              src="{% static 'js/marked/marked.js' %}"></script>
      <script type="text/javascript"
              src="{% static 'js/underscore/underscore.js' %}"></script>
      <script type="text/javascript"
              src="{% static 'js/scripts.js' %}"></script>
    {% endcompress %}
    {% block script %}{% endblock %}
  </body>
</html>
