{% extends 'dashboard/base.html' %}

{% block title %}AVAVA | Dokumentace{% endblock %}

{% block content %}
<div class="center-align">
  <div class="preloader-wrapper big active">
    <div class="spinner-layer spinner-blue-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div>
      <div class="gap-patch">
        <div class="circle"></div>
      </div>
      <div class="circle-clipper right">
      <div class="circle"></div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script>
$(document).ready(function() {
  documentation.show('{{ path }}');
});
</script>
{% endblock %}
