{% extends 'dashboard/base.html' %}

{% block title %}AVAVA{% endblock %}

{% block content %}
<h1>Vítejte na SVS AVAVA</h1>
AVAVA je server určený pro studijní účely žákům gymnázia Arabská.

Na serveru běží distribuce <i>{{ uname }}</i>.
{% endblock %}
