{% load dashboard_extras %}
{% csrf_token %}
{% for error in form.non_field_errors %}
  <div class="error"><div>
    {{ error }}
  </div></div>
{% endfor %}
{% for field in form.hidden_fields %}
  {{ field }}
{% endfor %}
{% for field in form.visible_fields %}
  <div class="input-field">
    <input
      placeholder="{{ field.field.placeholder }}"
      id="{{ field.id_for_label }}"
      name="{{ field.name }}"
      type="{{ field|form_field_type }}"
      {% if field.errors %}
        class="invalid"
      {% else %}
        class="validate"
      {% endif %}
      >
    <label
      for="{{ field.id_for_label }}"
      data-error="{{ field|form_field_errors_concat }}">
      {{ field.label }}
    </label>
    {% if field.help_text %}
      <p class="help">{{ field.help_text|safe }}</p>
    {% endif %}
  </div>
{% endfor %}
